[Desktop Entry]
Type=Application
Name=Signal Beta
Comment=Signal Private Messenger for Linux - Beta version
Icon=signal-desktop-beta
Exec=env WAYLAND_DISPLAY= XDG_SESSION_TYPE=x11 signal-desktop-beta --use-gl=desktop --enable-features=UseOzonePlatform --ozone-platform=x11 --password-store="gnome-libsecret" -- %u
Terminal=false
Categories=Network;InstantMessaging;Chat;
StartupWMClass=signalbeta
MimeType=x-scheme-handler/sgnl;x-scheme-handler/signalcaptcha;
Keywords=sgnl;chat;im;messaging;messenger;sms;security;privat;
X-GNOME-UsesNotifications=true
